doctype html
html(lang='en')
head
    title Job booking cancellation confirmed
body
    .WordSection1
        p.MsoNormal
            span(style='font-family:"Arial",sans-serif')
                | Dear Team,
                o:p
        br
        p.MsoNormal
            span(style='font-family:"Arial",sans-serif')
                | This job has been confirmed cancelled.
                o:p
        include ../jobDetails/html
        include ../signature/html
