.WordSection1
  br
  p.MsoNormal
    span(style='font-family:"Arial",sans-serif')
      | Best regards,
      o:p
  p.MsoNormal(style='margin-bottom: -15px')
    b
      span(lang='EN-US' style='font-family:"Arial",sans-serif;\
        color:#4B7BEC;mso-ansi-language:EN-US')
        | SGLIGHTERS TEAM
        o:p
  p.MsoNormal
    b
      span(lang='EN-US' style='font-size:24.0pt;font-family:\
        "Highway Gothic Condensed";color:#4B7BEC;mso-ansi-language:EN-US')
        //if gte vml 1
          v:shapetype#_x0000_t75(coordsize='21600,21600' o:spt='75' o:preferrelative='t' path='m@4@5l@4@11@9@11@9@5xe' filled='f' stroked='f')
            v:stroke(joinstyle='miter')
              v:formulas
                v:f(eqn='if lineDrawn pixelLineWidth 0')
                  v:f(eqn='sum @0 1 0')
                    v:f(eqn='sum 0 0 @1')
                      v:f(eqn='prod @2 1 2')
                        v:f(eqn='prod @3 21600 pixelWidth')
                          v:f(eqn='prod @3 21600 pixelHeight')
                            v:f(eqn='sum @0 0 1')
                              v:f(eqn='prod @6 1 2')
                                v:f(eqn='prod @7 21600 pixelWidth')
                                  v:f(eqn='sum @8 21600 0')
                                    v:f(eqn='prod @7 21600 pixelHeight')
                                      v:f(eqn='sum @10 21600 0')
              v:path(o:extrusionok='f' gradientshapeok='t' o:connecttype='rect')
                o:lock(v:ext='edit' aspectratio='t')
          v:shape#Picture_x0020_1(o:spid='_x0000_i1025' type='#_x0000_t75' alt='cid:image005.png@01D4FC5B.C6376690' style='width:237pt;height:66.75pt')
            v:imagedata(src='Untitled_files/image001.png' o:href='cid:image001.png@01D5027B.197468B0')
        img(width='316' height='89' src='https://s3-ap-southeast-1.amazonaws.com/ship-supplies-direct-fleetshare/assets/logo.jpg' style='height:.927in;width:3.291in' alt='cid:image005.png@01D4FC5B.C6376690' v:shapes='Picture_x0020_1')
    b
      span(lang='EN-US' style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#4B7BEC;\
        mso-ansi-language:EN-US')
        o:p
  p.MsoNormal(style='margin-bottom: -8px')
    span(lang='EN-US' style='font-size:9.0pt;font-family:"Arial",sans-serif;\
      color:#AEAAAA;mso-ansi-language:EN-US')
      | (&ldquo;SGLighters.com&rdquo; is a product of Ship
      | Supplies Direct Pte Ltd)
      o:p
  p.MsoNormal(style='margin-bottom: -15px')
    span(lang='EN-US' style='font-family:"Arial",sans-serif;\
      color:#1F497D;background:white;mso-ansi-language:EN-US')
      | Operating Line: +65
      | 8748 0467
    span(lang='EN-US' style='font-family:"Arial",sans-serif;\
      color:#1F497D;mso-ansi-language:EN-US')
      o:p
  p.MsoNormal(style='margin-bottom: -15px')
    span(lang='EN-US' style='font-family:"Arial",sans-serif;\
      color:#1F497D;mso-ansi-language:EN-US') Email:
    a(href='mailto:service@sglighters.com')
      b
        span(lang='EN-US' style='font-family:\
          "Arial",sans-serif;color:#4B7BEC;mso-ansi-language:EN-US')  service@sglighters.com
    b
      span(style='font-family:"Arial",sans-serif;color:#4B7BEC')
    span(lang='EN-US' style='font-family:"Arial",sans-serif;color:#1F497D;mso-ansi-language:\
      EN-US')
      o:p
  p.MsoNormal
    span(lang='EN-US' style='font-family:"Arial",sans-serif;\
      color:#1F497D;mso-ansi-language:EN-US') Website:
    a(href='http://www.sglighters.com')
      b
        span(lang='EN-US' style='font-family:"Arial",sans-serif;\
          color:#4B7BEC;mso-ansi-language:EN-US')  www.sglighters.com
    b
      span(style='font-family:"Arial",sans-serif;color:#4B7BEC')
    span(lang='EN-US' style='font-family:"Arial",sans-serif;color:#17365D;mso-ansi-language:\
      EN-US')
      o:p
  p.MsoNormal
    span(lang='EN-US' style='font-size:8.0pt;font-family:"Arial",sans-serif;\
      color:#4B7BEC;mso-ansi-language:EN-US')
      | CONFIDENTIALITY AND DISCLAIMER NOTICES
      o:p
  p.MsoNormal
    span(lang='EN-US' style='font-size:8.0pt;font-family:"Arial",sans-serif;\
      color:#4B7BEC;mso-ansi-language:EN-US')
      | This email and any files transmitted
      | with it are confidential and legally privileged. This email is intended solely
      | for the use of the individual or entity to whom it is addressed. If you have
      | received this email in error, please delete it and notify the sender or the IT
      | Manager of SGLighters (
    a(href='mailto:info@sglighters.com')
      span(lang='EN-US' style='font-size:\
        8.0pt;font-family:"Arial",sans-serif;color:#4B7BEC;mso-ansi-language:EN-US') info@sglighters.com
    span(lang='EN-US' style='font-size:8.0pt;font-family:"Arial",sans-serif;color:#4B7BEC;\
      mso-ansi-language:EN-US')
      | ). Access by any other person to this e-mail is not
      | authorized. Any unauthorized use or disclosure of this e-mail or of the
      | information contained therein or any copying, distribution, dissemination of it
      | is prohibited, and illegal.
      o:p
  p.MsoNormal
    span(lang='EN-US' style='font-size:8.0pt;font-family:"Arial",sans-serif;\
      color:#4B7BEC;mso-ansi-language:EN-US')
      | E-mail transmission cannot be guaranteed
      | to be secured or error-free. SGLighters and its
      | subsidiaries/affiliates therefore, do not accept any liability whatsoever for
      | any losses, damages, errors, omissions, corruption or viruses which could be
      | contained within this e-mail or within any files attached/transmitted with it,
      | or which may arise as a result of its transmission. Any views or opinions
      | expressed by an individual within this e-mail do not necessarily reflect the
      | views or opinions of SGLighters or its
      | subsidiaries/affiliates.
    o:p
