doctype html
html(lang='en')
head
  title Job document upload reminder
body
  .WordSection1
    p.MsoNormal
      span(style='font-family:"Arial",sans-serif')
        | Dear
        != ` ${user.firstName},`
        o:p
    br
    p.MsoNormal
      span(style='font-family:"Arial",sans-serif')
        | Thank you for booking a job with us. Please remember to upload your DO and other necessary documents to our platform, if you have not done so.
        o:p
    p.MsoNormal
      span(style='font-family:"Arial",sans-serif')
        | For your reference, here are the details of your job booking:
        o:p
    include ../jobDetails/html.pug
    p.MsoNormal
      span(style='font-family:"Arial",sans-serif')
        | Please feel free to email us at service@simpfleet.com if you have any queries.
        o:p
    include ../signature/html.pug
